@font-face {
    font-family: "HanSerifBold";
    src: url("./fonts/SourceHanSerif-Bold.woff2") format('woff2'),
        url("./fonts/SourceHanSerif-Bold.woff") format('woff'),
        url("./fonts/SourceHanSerif-Bold.otf") format('otf');
}

.tesstBold {font-family: 'HanSerifBold'; opacity: 0; font-size: .1rem;}
div#outPutImgWrap {
    display: block;
    height: 400px;
}
div#outPutImg {
    position: relative;
    display: block;
    width: auto;
    max-height: 400px;
}
div#outPutImg img {
    position: absolute;
    top: 0; left: 50%;
    width: auto;
    max-height: 400px;
    transform: translateX(-50%);
}
div#outPutImg img#atenaOutputImg {z-index: 10;}
div#outPutImg img#atenaBackgroundImg {z-index: 1; box-shadow: 0 2px 5px 2px rgba(60,64,67,0.15);}
canvas {border: 1px solid #121212; width: 0; height: 0; display: none;}
input[type="text"]{width: 300px; display: block;}

section#inputs{font-family: 'Noto Sans JP', sans-serif; position: relative; margin-top: 60px;}
section#inputs input{
    font-size: 16px;
    width: calc(100% - 2px - 8px - 5px);
    padding: 2px 4px;
    border: 1px #5c5c5c solid;
    border-radius: 3px;
}
section#inputs label{font-size: 15px;}
section#inputs div {
    width: 100%;
    margin-bottom: 5px;
}
section#inputs div.input2data,
section#inputs div.input3data {display: flex; flex-wrap: nowrap;}
section#inputs div.input2data div.input2dataInput {width: 50%;}
section#inputs div.input2data div.input2dataInputLspace {width: 50%; margin-left: 50%;}
section#inputs div.input2data div.input2dataInputLspaceL {
    width: 60%;
    margin-left: 40%;
}
section#inputs div.input3data div.input3dataInput{width: 40%;}
section#inputs div.input3data div.input3dataInput:last-child{width: 20%;}

section#inputs input[type="radio"]{display: none;}
section#inputs #atenaWrap input[type="radio"]{display: inline;}
section#inputs div#atenaWrap,
section#inputs div#userDatas,
section#inputs div#detailData {
    display: none;
    border: 2px solid #121212;
    border-radius: 0 5px 5px 5px;
    width: calc(100% - 10px);
    padding: 5px;
    background-color: #fefefe;
}
section#inputs input#showAtenaWrap:checked ~ div#atenaWrap,
section#inputs input#showUserDatas:checked ~ div#userDatas,
section#inputs input#showDetailDatas:checked ~ div#detailData{display: block;}
section#inputs label.showTab {
    height: 24px;
    background-color: #121212;
    color: #fefefe;
    border-radius: 10px 10px 0 0;
    padding: 10px 15px;
    display: inline-block;
    border: 2px solid #121212;
    border-bottom: none;
    position: absolute; top: -44px; left: 0;
    font-size: 16px;
}
section#inputs label.showTab[for="showUserDatas"]{left: 99px;}
section#inputs label.showTab[for="showDetailDatas"]{left: 214px;}
section#inputs input#showAtenaWrap:checked ~ label.showTab[for="showAtenaWrap"],
section#inputs input#showUserDatas:checked ~ label.showTab[for="showUserDatas"],
section#inputs input#showDetailDatas:checked ~ label.showTab[for="showDetailDatas"]{
    background-color: #fefefe;
    color: #121212;
}
section#inputs p{margin: 0; text-align: right; font-size: .7rem;}
button {
    width: 100%;
    background-color: #efefef;
    color: #121212;
    font-size: 1rem; padding: 5px 0; border-radius: 10px;
}

section#inputs form#dash p {font-size: 15px; text-align: left;}
section#inputs form#dash label input[type="radio"] {
    display: inline-block;
    width: auto;
}